@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'), local('Ubuntu'), url('Fonts/Ubuntu-Medium.ttf') format('truetype');
}

body{
    background: #efeae2;
    font-size: 14px;
    font-family: monospace;
}

#Container{
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 900px;
    min-height: 700px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border: 2px solid #556c87;
}

#inner {
   display: flex;
   justify-content: center;
}

#Footer{
    height: 80px;
    width: 900px;
    font-size: 12px;
    background: #556c87;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;    
}

#Content{
    min-height: 470px;
    width: 900px;
    background: #e9ecf4;
    display:inline-block;
}

#Form form{
    width: 300px;
    margin: 0 auto;
}

#Content p{
    display: inline;
}

#Content table {
    border-color: #556c87; /* ÷вет границы */
    border-style: groove;
}

#Content th, td {
    border:none;

}

#HeadImage{
    float: left;
    display:inline;
}

#HeadCaption{
    float: left;
    display:inline;
    font-family: Ubuntu;
    margin-left: 25px;
}

#HeadCaption h1{
    font-size: 52px;
    margin-bottom: -5px;
    margin-top: 15px;
}

#HeadCaption a{
	color : black;
    text-decoration: none;
}

#HeadCaption a:link {
	color : black;
    text-decoration: none;
}

#HeadCaption a:visited {
	color : black;
    text-decoration: none;
}

#HeadCaption a:hover {
	color : black;
    text-decoration: none;
}

#HeadCaption a:active {
	color : black;
    text-decoration: none;
}

#InfoForm{
    width: 540;
    height: auto;
    padding: 30px;
    display:inline-block;
}

#LoginForm{
    float: right;
    width: 240px;
    background: #a3abb8;
    height: auto;
    padding: 30px;
}

#Head{
    height: 150px;
    display:inline-block;
    width:900px;
    background: #a3abb8;
    box-sizing: border-box;
    padding: 20px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

<caption>{
    font-size: 20px;
}